<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip Planner</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/grid12.css">
</head>

<body aurelia-app="/static/js/main">

    <div id="main_panel">

    </div>

    <script src="/static/lib/aurelia/system.js"></script>
    <script src="/static/lib/aurelia/config_systemjs.js"></script>
    <script src="/static/lib/aurelia/aurelia-core.min.js"></script>
    <script src="/static/lib/aurelia/aurelia-routing.min.js"></script>

    <script>
        System.import('aurelia-bootstrapper');
    </script>
</body>
</html>