<!DOCTYPE html>
<html lang="en" ng-app="tripplanner">
<head>
    <meta charset="UTF-8">
    <title>Trip Planner</title>
    <base href="/">

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/grid12.css">

    <script type="text/javascript" src="/static/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/static/lib/angular/angular-route.js"></script>
</head>

<body>
    <div class="container-fluid">
        <h1>TripPlanner</h1>
        <div class="row">
            <div ng-view>
            </div>
        </div>
        <a href="login">Login</a>
    </div>

    <script src="/static/js/app.module.js"></script>
    <script src="/static/js/app.route.js"></script>
    <script src="/static/js/serializer.service.js"></script>

    <script src="/static/js/auth/auth.controller.js"></script>
    <script src="/static/js/auth/auth.service.js"></script>
</body>
</html>