<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip Planner</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/grid12.css">

    <script src="/static/lib/angular/angular.js"></script>
    <script src="/static/lib/angular/angular-ui-router.min.js"></script>
</head>
<body ng-app="tripplanner">
    <div class="container-fluid">
        <div class="row">
            <ui-view>
                <h1>Welcome Friend</h1>
            </ui-view>
        </div>
        <div class="row">
            <a ui-sref="login">Login</a>
        </div>
    </div>

    <script src="/static/js/app.module.js"></script>
    <script src="/static/js/app.route.js"></script>
    <script src="/static/js/serializer.service.js"></script>

    <script src="/static/js/auth/auth.controller.js"></script>
    <script src="/static/js/auth/auth.service.js"></script>
</body>
</html>