<div class='col-xs-offset-1'>
    <div class="row">
        <div class="col-xs-11">
            <div class="individualError" ng-repeat="error in vm.errors">
                {{error}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h2>List of Trips</h2>
            <ul>
                <li ng-repeat="trip in vm.tripList">
                    <label>{{'Trip to ' + trip.destination + ' in ' + trip.start_date}}.
                    </label>
                    <label style="color: blue" ng-show="trip.days_left">
                        {{trip.days_left}} day(s) left.
                    </label>
                    <label style="color: red" ng-show="!trip.days_left">
                        Overdue.
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-xs-2">
            <h2>Create Trip</h2>
            <form>
                <input type="text" ng-model="vm.destination" placeholder="Destination"><br>
                <input type="text" ng-model="vm.start_date" placeholder="Start Date (dd/mm/yyyy)"><br>
                <input type="text" ng-model="vm.end_date" placeholder="End Date (dd/mm/yyyy)"><br>
                <input type="text" ng-model="vm.comment" placeholder="Comment"><br>

                <button ng-click="vm.createTrip()">Create Trip</button>
            </form>
        </div>

        <div class="cols-x-3">
            <h2>Filter Trips</h2>
            <form>
                <input type="text" ng-model="vm.filter_destination" placeholder="Destination"><br>
                <input type="text" ng-model="vm.filter_start_date" placeholder="Start Date (dd/mm/yyyy)"><br>
                <input type="text" ng-model="vm.filter_end_date" placeholder="End Date (dd/mm/yyyy)"><br>

                <button ng-click="vm.filterTrips()">Get Trips</button>
            </form>
        </div>

        <div class="col-xs-4">
            <ul>
                <li ng-repeat="trip in vm.filteredTrips">
                    <label>
                        {{'Trip to ' + trip.destination + ' in ' + trip.start_date}}.
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11">
            <h2>Next Month's Itinerary</h2>
            <ul>
                <li ng-repeat="trip in vm.nextMonthItinerary">
                    <label>
                        {{'Trip to ' + trip.destination + ' in ' + trip.start_date}}.
                    </label>
                </li>
            </ul>

            <button ng-click="vm.getNextMonthItinerary()">Refresh</button>
        </div>
    </div>
</div>
