<div class='col-xs-offset-3'>
    <div class="row">
        <div class="col-xs-3">
            <h2>List of Users</h2>
            <ul>
                <li ng-repeat="user in vm.userList">
                    <label>{{'Id: ' + user.id + ' Username: ' + user.username}}</label>
                </li>
            </ul>
        </div>
        <div class="col-xs-3">
            <h2>Create Users</h2>
            <form>
                <div class="row">
                    <input type="text" ng-model="vm.username" placeholder="username">
                </div>
                <div class="row">
                    <input type="password" ng-model="vm.password" placeholder="password">
                </div>
                <div class="row">
                    <input type="text" ng-model="vm.firstName" placeholder="First Name">
                </div>
                <div class="row">
                    <input type="text" ng-model="vm.lastName" placeholder="Last Name">
                </div>

                <div class="row">
                    <button ng-click="vm.createUser()">Create User</button>
                </div>
            </form>

            <div class="row">
                <div class="individualError" ng-repeat="error in vm.errors">
                    {{error}}
                </div>
            </div>
        </div>
    </div>
</div>