$gray-border: rgba(203,203,210,0.4);
$white: #fff8ff;
$color1: #2978a0;
$color2: #32414d;
$color3: #bcab79;
$color4: #c6e0ff;
$color5: #9fb4c7;

$sky-color: #607ab1;
$ground-color: #7c6241;
$grass-color: #2cb74a;
