body {
    width: 95%;
    margin: 0 auto;
}

.individualError {
    background: red;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    color: white;

    padding: 0.3em;
    margin: 0.3em;
}

